body {
	background-image: url('../Images/green.jpg');
	background-color: white;
	color: black;
	font-family: serif; 
}

.story {
	margin-left: auto;
    margin-right: auto; 
	height: 400px;
	width: 800px;
	overflow-y: scroll;
	background-image: url('../Images/oldpaper.jpg');
	background-color: white;
    border: 5px solid black;
	padding: 5px 5px;
	font-family: serif;
	color: black;
}

h1 {
	margin-left: auto;
    margin-right: auto;
	width: 800px;
	background-color: rgba(128,128,128, 0.6);
	border: 5px solid black;
	padding: 20px 5px;
    color: black;
}

h3 {
	margin-left: auto;
    margin-right: auto;
	padding: 5px 5px;
    color: AntiqueWhite;
}

h4 {
	margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Optimus Princeps';
    src:
    local('Optimus Princeps'),
    url('Optimus Princeps.ttf');
}

.HeaderController {
	margin-left: auto;
    margin-right: auto;
	width: 800px;
	border: 5px solid black;
	background-color: rgba(128,128,128, 0.6);
	padding: 1px 1px;
}

.HeaderController ul {
	height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.HeaderController li {
	display: inline; 
    padding: 20px; 
}